# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# testing
/coverage

# workflows
/.github

# production
/build
.eslintcache
.env
